body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8f8f8;
}

.Gambar {
  position: relative;
  background-image: url('Sawah.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.Gambar h1, .Gambar p {
  position: relative;
  z-index: 2;
}

.Gambar h1 {
  margin: 0;
  font-size: 3em;
}

.Gambar p {
  margin: 0;
  font-size: 1.5em;
}

header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 1em 0;
  position: relative;
}

header p {
  
  margin: 0;
  padding-bottom: 30px;



}

header h1 {

  display: flex;
  padding: 30px;



}

.logo2{
  border-radius: 100%;
  padding: 10PX;
  background-color: white;
}

nav {
  text-align: center;
  margin-top: 20px;
}

.navbar {
  background-color:black;
  padding-bottom: 15px;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-menu {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  display: flex;
}

.navbar-item {
  margin: 0 15px;
  justify-content: center;
}

.navbar-item a {
  color: white;
  text-decoration: none;
}

.navbar-item img {
  vertical-align: middle;
  transition: transform 0.3s, filter 0.3s;
}

.navbar-item img:hover {
  transform: scale(1.2);
  filter: brightness(1.2);
}

main {
  padding: 50px;
  border-radius: 30px;
}

.logo {
  border-radius: 10px;
}

section {
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: justify;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #cccccc3d;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: rgb(187, 187, 187);
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product {
  flex: 1 1 calc(25%-20px);
  background-color: #f1f1f1;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.product h3 {
  margin-top: 0;
}

footer {
  text-align: center;
  background-color: #000000;
  color: white;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.toggleButton {
  display: block;
  padding: 10px 5px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 0;
}

.toggleButton img {
  width: 30px;
  height: 30px;
}

.hidden {
  display: none;
}
